@import "../../../../../../../styles/colors.scss";

.controller_main {
    width: 400px;
    height: 210px;
    padding: 5px;
    background-color: $color1;
    border: 3px solid $color2;

    @media screen and (max-width: 1100px) {
        position: absolute;
        top: 75px;
        left: 5%;
    }

    @media screen and (max-width: 700px) {
        width: 300px;
        height: 160px;
        top: 100px;
        left: 0%;
    }
}

.buttons_cont {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;

    @media screen and (max-width: 700px) {
        padding: 5px;
    }
}