$textColor1: rgb(177, 81, 81);
$textColor2: rgb(70, 185, 70);
$borderColor1: rgb(114, 114, 173);
$borderColor2: rgb(240, 116, 116);
$backgroundColor1: rgb(235, 208, 88);
$backgroundColor2: rgb(199, 172, 230);
$mainShadow:0px 0px 12px 3px $borderColor2;