@import "../../../../../styles/dimensions.scss";
@import "../../../../../styles/colors.scss";
@import "../../../../../styles/classes.scss";

.header {
    width: 100%;
    position: fixed;
    height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    background-color: transparent;
    transition: 1s;
}

.header_scrolled {
    height: $headerHeightScrolled;
    background-color: rgba($color:$blue, $alpha: 0.5);
}

.logo_cont {
    @extend .centered;

    height: 100%;
    width: 200px;

    @media screen and (max-width:700px) {
        width: 125px;
        height: 80%;
    }

    cursor: pointer;

    @media screen and (max-width:700px) {
        width: 125px;
        height: 80%;
    }
}