@import "../../../styles/dimesions.scss";
@import "../../../styles/colors.scss";

.header {
    width: 100%;
    position: fixed;
    height: $headerHeight;
    background-color: $color3;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}

.logo_cont {
    height: 100%;
    width: 200px;
    border: 1px solid white;
}