@import "../../../../../styles/colors.module.scss";
@import "../../../../../styles/classes.scss";
@import "../../../../../styles/dimensions.scss";
@import "../../../../../styles/animations.scss";
@import "../../../../../styles/shadows.scss";

.about_cont {
    height: 715px;
    width: 100%;
    padding-top: calc($headerHeight + 85px);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: 900px) {
        height: 650px;
    }

    @media screen and (max-width: 600px) {
        height: 500px;
    }
}

.about_content {
    @extend .centered;
    @extend .background_fixed;

    width: 800px;
    height: 500px;
    padding: 15px;
    position: relative;
    background-image: url("/about/tv.jpg");

    @media screen and (max-width: 900px) {
        width: 600px;
        height: 400px;
    }

    @media screen and (max-width: 600px) {
        width: 320px;
        height: 320px;
        padding: 5px;
    }
}

.screen {
    @extend .background_glitch;

    margin-bottom: 20px;
    box-shadow: $screen_shadow;
    opacity: 0.5;

}

.switch_button {
    color: $blue_light;
    position: absolute;
    left: calc(50% - 7.5px);
    bottom: 10px;
    transition: 0.25s;
    cursor: pointer;

    @media screen and (max-width: 900px) {
        bottom: 5px;
    }

    @media screen and (max-width: 600px) {
        font-size: 11px;
        bottom: 2px;
    }
}

.typewriter_cont {
    width: 750px;
    position: absolute;
    top: 15px;
    left: 25px;
    color: $amber;
    font-size: 30px;
    padding: 10px;
    animation: pulse 2s ease-in-out infinite alternate;

    @media screen and (max-width: 900px) {
        width: 550px;
        font-size: 20px;
    }

    @media screen and (max-width: 600px) {
        width: 280px;
        font-size: 13.5px;
    }
}