@import "../../../../styles/colors.scss";
@import "../../../../styles/classes.scss";

.title_cont {
    @extend .centered;

    margin: 0 auto;
    width: 250px;
    height: 60px;
    position: relative;
}

.content_cont_1 {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $color1;
}

.content_cont_2 {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $color1;
}

.title {
    color: $color1;
    font-size: 25px;
    font-weight: 900;
    z-index: 2;
    text-shadow: 0 0 5px $color4, 0 0 5px $color4, 0 0 5px $color4, 0 0 5px $color4, 0 0 30px $color4, 0 0 30px $color4, 0 0 30px $color4, 0 0 30px $color4;
}