@import "../../../styles/colors.scss";
@import "../../../styles/classes.scss";
@import "../../../styles/dimesions.scss";

.about_cont {
    height: 700px;
    width: 100%;
    padding-top: calc($headerHeight + 75px);
    display: flex;
    justify-content: center;
    margin-bottom: 25px
}

.about_content {
    @extend .centered;
    @extend .background_fixed;
    
    width: 800px;
    height: 500px;
    padding: 15px;
    position: relative;
    background-image: url("/about/tv.jpg");
}

.screen {
        background-color: $color4;
        margin-bottom: 20px;
        box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(237,241,255,0);
}
.switch_button {
    color: $color3;
    position: absolute;
    left: calc(50% - 7.5px);
    bottom: 10px;
    transition: 0.25s;
    cursor: pointer;
}

.typewriter_cont{
   position: absolute;
   top: 15px;
   width: 750px;
   left: 25px;
   color: $color2;
   font-size: 24px;
}