@import "../../../styles/colors.scss";
@import "../../../styles/classes.scss";

.footer_main {
    @extend .centered;

    flex-direction: column;
    height: 50px;
    width: 100%;
    color: $color4;
}

.copyright_cont {
    margin-top: 5px;
    font-size: 11px;

    @media screen and (max-width: 700px) {
        font-size: 9px;
    }
}