@import "../../../styles/dimesions.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/classes.scss";

.header {
    width: 100%;
    position: fixed;
    height: $headerHeight;
    background-color: $color3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/background.jpg");
    z-index: 4;
}

.logo_cont {
    @extend .centered;

    height: 100%;
    width: 200px;

    @media screen and (max-width:700px) {
        width: 125px;
        height: 80%;
    }

    img {
        cursor: pointer;

        @media screen and (max-width:700px) {
            width: 75px;
            height: 80%;
        }
    }
}